{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Spec Ratings</h1>
        <hr class="my-4" />
        <p>Please enter the JSON string for the spec ratings below.</p>
    </div>

    <div class="content">
        <form method="post">
            <div class="form-group">
                <label for="spec-ratings">Enter your Spec Ratings JSON here:</label>
                <button type="submit" class="btn btn-primary btn-sm mb-1">Load Ratings</button>
                <textarea class="form-control" name="spec-ratings" id="spec-ratings" rows="20"></textarea>
            </div>
        </form>
    </div>
{% endblock %}