{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Spec Ratings</h1>
        <hr class="my-4" />
        <p>Copy the below JSON string and save to a txt file to be used later.</p>
    </div>

    <div class="content">
        <div class="form-group">
            <label for="spec-ratings">Spec Ratings JSON output:</label>
            <div class="d-inline-block">
                <button class="btn btn-primary btn-sm" onclick="copyToClipboard()">Copy JSON</button>
                <a href="{{ url_for('spec_ratings.index') }}" class="btn btn-secondary btn-sm">Go back</a>
            </div>
            <textarea class="form-control" rows="20" id="spec-ratings" readonly>{{ ratings_json }}</textarea>
        </div>
    </div>

    <script>
    function copyToClipboard() {
        let copyText = document.getElementById("spec-ratings");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
        alert("Spec Ratings JSON copied to clipboard.")
    }
    </script>
{% endblock %}