{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Spec Ratings</h1>
        <hr class="my-4" />
        <p>Rate specs below to be saved as JSON to a text file.</p>
    </div>

    {% set classes = [
        ('Death Knight', '#c41f3b', 'Blood,Frost,Unholy'),
        ('Demon Hunter', '#a330c9', 'Havoc,Vengence'),
        ('Druid', '#ff7d0a', 'Balance,Feral,Guardian,Restoration'),
        ('Hunter', '#a9d271', 'Beast Mastery,Marksmanship,Survival'),
        ('Mage', '#40c7eb', 'Arcane,Fire,Frost'),
        ('Monk', '#00ff96', 'Brewmaster,Mistweaver,Windwalker'),
        ('Paladin', '#f58cba', 'Holy,Protection,Retribution'),
        ('Priest', '#ffffff', 'Discipline,Holy,Shadow'),
        ('Rogue', '#fff569', 'Assassination,Outlaw,Subtlety'),
        ('Shaman', '#0070de', 'Elemental,Enhancement,Restoration'),
        ('Warlock', '#8787ed', 'Affliction,Demonology,Destruction'),
        ('Warrior', '#c79c6e', 'Arms,Fury,Protection')
    ] -%}

    {% set ratings = 5 %}

    <div class="content">
        <div class="text-center mb-3">
            <a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('spec_ratings.load_ratings') }}">Load Ratings</a>
        </div>

        <form action="{{ url_for('spec_ratings.save_ratings') }}" method="post">
            <div class="form-group">
                <table class="table table-bordered table-centre">
                    <thead class="thead-dark sticky-top">
                        <tr>
                            <th scope="col" rowspan="2" style="width: 15%">Class</th>
                            <th scope="col" rowspan="2" style="width: 15%">Spec</th>
                            <th scope="col" style="width: 40%" colspan="{{ ratings }}">Rating</th>
                            <th scope="col" rowspan="2" style="width: 30%">Comments</th>
                        </tr>
                        <tr>
                            <th scope="col">Dislike</th>
                            <th scope="col">Neutral</th>
                            <th scope="col">Alright</th>
                            <th scope="col">Like</th>
                            <th scope="col">Love</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for class, class_colour, specs in classes %}
                        {% set specs = specs.split(',') %}
                        {% for i in range(specs|length) %}
                        <tr>
                        {% set class_lower = class|lower|replace(" ", "") %}
                        {% set spec_lower = specs[i]|lower|replace(" ", "") %}

                        {% if i == 0 %}
                            <td style="background-color: {{ class_colour }}" rowspan="{{ specs|length }}">{{ class }}</td>
                        {% endif %}

                            <td>{{ specs[i] }}</td>

                            {% for j in range(ratings) %}
                            <td class="py-1">
                                <div class="form-check">
                                    <input class="form-radio" type="radio" name="{{ class_lower }}-{{ spec_lower }}" value="{{ j }}" aria-label="{{ class_lower }}-{{ spec_lower }}-{{ j }}"
                                            {{ 'checked' if session['ratings'] is defined and session['ratings'][class_lower][spec_lower] == j|string }}>
                                </div>
                            </td>
                            {% endfor %}

                        {% if i == 0 %}
                            <td rowspan="{{ specs|length }}">
                                <div class="form-group mb-0">
                                    <textarea class="form-control" rows="{{ specs|length + 1 }}" name="{{ class_lower }}-comments">{{ session['ratings'][class_lower]['comments'] if session['ratings'] is defined }}</textarea>
                                </div>
                            </td>
                        {% endif %}
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg px-5">Update</button>
            </div>
        </form>
    </div>
{% endblock %}