{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Spec Tiermaker</h1>
        <hr class="my-4" />
        <p>Rank WoW specs. Site used is property of <a href="https://tiermaker.com">tiermaker.com</a>.</p>
        <p>Tier list created by <a href="https://twitter.com/manatee2faced?s=20">@manatee2faced</a>. Use the link above for more tier lists and create your own.</p>
    </div>

    <div class="content">
    <p class="small text-center">DISCLAIMER: This product is the intellectual property of TierMaker;
            This page is not intended for any commercial endeavors or as competition with tiermaker.com</p>
        <iframe style="width:120%; height:800px; margin-left:-10%; border:0" title="TierMaker WoW Specs"
                src="https://tiermaker.com/create/wow-specs-62777?presentationMode=true"></iframe>
    </div>
{% endblock %}