{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Spec Ratings</h1>
        <hr class="my-4" />
        <p>Rate specs below to be saved as JSON to a text file.</p>
    </div>
    <div class="content">
        <iframe style="width:100%; height:750px; margin:0; border:0" title="SimpleArmory Mounts"
                src="https://simplearmory.com/#/us/khazgoroth/dortzak/collectable/mounts"></iframe>
    </div>
{% endblock %}