body {
    /*background-color: #57a0d3;*/
    padding-top: 56px;
}

.navbar {
    margin-bottom: 0;
    /*background-color: #89cff0;*/
}

table.table-centre > tbody > tr > td, th {
    text-align: center;
    vertical-align: middle;
}

.form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #e9e9e9;
    color: #666;
    left: -6px;
    top: 3px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

.form-radio:checked::before {
    position: absolute;
    font: 13px/1 'Open Sans', sans-serif;
    left: 11px;
    top: 7px;
    content: '\02143';
    transform: rotate(40deg);
}

.form-radio:hover {
    background-color: #f7f7f7;
}

.form-radio:checked {
    background-color: #90ee90;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    /*background-color: #dffef0;
    border-color: #dffef0;
    color: #212529;*/
}

.btn-primary:hover {
    /*background-color: #afcdbf;
    border-color: #a5c3b5;*/
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    /*background-color: #88a6cd;
    border-color: #88a6cd;
    color: #fff;*/
}

.btn-secondary:hover {
    /*background-color: #7492b9;
    border-color: #6483aa;*/
}
