<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/custom.css">
    <title>Focused Will</title>
</head>

{% set nav_bar = [
    ('index', 'home', 'Home'),
    ('spec_ratings.index', 'specs', 'Spec Ratings'),
    ('index', 'rotations', 'Rotations'),
    ('index', 'roster', 'Guild Roster'),
] -%}

{% set activate_page = active_page|default('home') -%}

<body>
<div class="content container mt-2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">Focused Will</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                {% for url, id, label in nav_bar %}
                    <li class="nav-item{% if id == activate_page %} active{% endif %}">
                        <a class="nav-link" href="{{ url_for(url|e) }}">{{ label|e }}</a>
                    </li>
                {% endfor %}
                    {% if session.get('email') == None %}
                    <li class="nav-item{% if activate_page == 'login' %} active{% endif %}">
                        <a class="nav-link" data-toggle="modal" href="#incompleteFeature">Log in</a>
                    </li>
                    <li class="nav-item{% if activate_page == 'register' %} active{% endif %}">
                        <a class="nav-link" data-toggle="modal" href="#incompleteFeature">Sign up</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" href="#incompleteFeature">Logout | {{ session.get('name') }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="my-3">
    {% block content %}

    {% endblock %}
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="incompleteFeature" tabindex="-1" role="dialog" aria-labelledby="incompleteFeatureLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="incompleteFeatureLabel">Feature Incomplete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          This feature has not yet been implemented, please try back later.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>