{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Focused Will</h1>
        <p class="lead">WoW Tools & Trackers</p>
        <hr class="my-4" />
        <p>Follow the links below or in the menu bar above to access the developed WoW tools.</p>
    </div>

    <div class="content">
        <a href="{{ url_for('spec_ratings.index') }}" class="btn btn-secondary btn-lg btn-block">Spec Ratings</a>
        <a href="#" class="btn btn-secondary btn-lg btn-block">Rotations (Incomplete)</a>
    </div>
{% endblock %}